tags

# draft
draft/

# JS dependencies
/node_modules
package-lock.json

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.jekyll
Gemfile.lock

# Ruby
.bundle/
.byebug_history
.ruby-gemset
.ruby-version
*.gem
Gemfile.lock

# vs code
.vscode

# misc
.analysis
*.DS_Store
*.swp

# server
.localhost.log
.localhost.pid

# Folders
/vendor
bbin/
bin/
coverage
gh-pages/
pkg/
test/dest
tmp/*

# lint
.markdownlintignore

# articles
fc-algo-data-structure-1-intro.md
fc-algo-data-structure-2-concept.md
fc-algo-prob-actual-*.md
fc-algo-tech-interview-*.md
