---
layout: home
adsense: false
---
{% assign documents = site.documents | sort: 'updated' | reverse %}
<div id="app" class="page-content">
    <div class="list-content">
        <H3 class="list-header indent">최근 변경된 문서</H3>
        <ul class="post-list">
    {% for doc in documents %}{% if doc.public != false and doc.layout != 'wikiindex' %}
            <li>
                <div>
                    <a class="post-link" href="{{ doc.url }}">
                        <div class="post-meta">{{ doc.updated | date: "%Y.%m.%d" }} - {{ doc.title }}</div>
                        <div class="post-excerpt">{{ doc.summary }}</div>
            {% if doc.tags %}
                        <ul class="post-tag">{{ doc.tag }}</ul>
            {% endif %}
                    </a>
                </div>
            </li>
    {% endif %}{% endfor %}
        </ul>
    </div>
</div>
{% include createLink.html %}
