<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" content="{{ page.summary }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.summary }}">
    <meta property="og:image" content="{{ "/resource/user.png" | prepend: site.baseurl | prepend: site.url }}"" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter_username }}" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.summary }}" />

    <link rel="apple-touch-icon" sizes="57x57"        href="{{ "/resource/icon.ico/apple-icon-57x57.png" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="apple-touch-icon" sizes="60x60"        href="{{ "/resource/icon.ico/apple-icon-60x60.png" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="apple-touch-icon" sizes="72x72"        href="{{ "/resource/icon.ico/apple-icon-72x72.png" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="apple-touch-icon" sizes="76x76"        href="{{ "/resource/icon.ico/apple-icon-76x76.png" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="apple-touch-icon" sizes="114x114"      href="{{ "/resource/icon.ico/apple-icon-114x114.png" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="apple-touch-icon" sizes="120x120"      href="{{ "/resource/icon.ico/apple-icon-120x120.png" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="apple-touch-icon" sizes="144x144"      href="{{ "/resource/icon.ico/apple-icon-144x144.png" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="apple-touch-icon" sizes="152x152"      href="{{ "/resource/icon.ico/apple-icon-152x152.png" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="apple-touch-icon" sizes="180x180"      href="{{ "/resource/icon.ico/apple-icon-180x180.png" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="icon" type="image/png" sizes="192x192" href="{{ "/resource/icon.ico/android-icon-192x192.png" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="icon" type="image/png" sizes="32x32"   href="{{ "/resource/icon.ico/favicon-32x32.png" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="icon" type="image/png" sizes="96x96"   href="{{ "/resource/icon.ico/favicon-96x96.png" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="icon" type="image/png" sizes="16x16"   href="{{ "/resource/icon.ico/favicon-16x16.png" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="manifest" href="{{ "/resource/icon.ico/manifest.json" | prepend: site.baseurl | prepend: site.url }}" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ "/resource/icon.ico/ms-icon-144x144.png" | prepend: site.baseurl | prepend: site.url }}" />
    <meta name="theme-color" content="#ffffff">

{% if site.google_analytics.ua %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics.ua }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics.ua }}');
    </script>
{% endif %}
{% if site.google_adsense.client and page.adsense == true %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "{{ site.google_adsense.client }}",
        enable_page_level_ads: true
      });
    </script>
{% endif %}

</head>
<header class="header">
    <div class="site-title">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <div class="site-menu">
    {% assign collections = site.collections | sort: 'number' | shift | pop reverse %}
    {% for col in collections %}
        {% assign trail = col.label | slice: 0, 2 %}
        <div>
            <a class="collection" href="{{ col.label | prepend: "/" | append: "/index-" | append: trail | append: "/" }}">{{ col.label }}</a>
        </div>
    {% endfor %}
        <div>
            <a class="me" href="/about/">me</a>
        </div>
        <div>
            <a id="random-button" class="random" href="/study/index-s/#random" onClick="if(typeof random === 'function')random()">random</a>
        </div>
    </div>
</header>
<script>
;(function(){
    var isCtrl = false;

    document.onkeyup=function(e){
        if (e.which == 17) {
            isCtrl = false;
        }
    }

    document.onkeydown=function(e){
        if(e.which == 17) {
            isCtrl = true;
        }
        if(e.which == 82 && isCtrl == true) {
            document.getElementById("random-button").click();
        }
    }
})();
</script>
