@import "./base/index.scss";
@import "./support/index.scss";

body {
    margin: 0;
    min-height: 100vh;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

body, th, td, div, p, li {
    word-break: keep-all;
}

// property of blockquote, code, pre outside of markdown is not yet defined.
blockquote {
    margin:0;
    padding: 1px 0px 1px 8px;
}
code {
    padding: 1px 3px;
}
pre {
    overflow-x: auto;
    padding: 10px 10px;
}
pre, pre code {
    color: $secondary-100;
}
pre code {
    padding: 0;
}
.hide {
    display: none;
}
.center {
    text-align: center;
}
.language-html table {
    background: transparent;
    margin: 0;
}
.language-html td {
    padding: 0;
    border: 0;

}

h1 {
    margin: 0px;
}
h4 {
    padding-left: 5px;
}
h5 {
    padding-left: 10px;
}
h6 {
    padding-left: 15px;
}

.post-content h2 {
    &:before { content:"⠁"; }
}
.post-content h3 {
    &:before { content:"⠃"; }
}
.post-content h4 {
    &:before { content:"⠋"; }
}
.post-content h5 {
    &:before { content:"⠛"; }
}
.post-content h6 {
    &:before { content:"⠟"; }
}
