@import "./base/index.scss";
@import "./support/index.scss";

body {
  margin: 0;
  min-height: 100vh;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

// prettier-ignore
body, th, td, div, p, li {
    word-break: keep-all;
}

// property of blockquote, code, pre outside of markdown is not yet defined.
blockquote {
  margin: 0;
  padding: 1px 0px 1px 8px;
}

.hide {
  display: none;
}
.center {
  text-align: center;
}
.language-html table {
  background: transparent;
  margin: 0;
}
.language-html td {
  padding: 0;
  border: 0;
}

.task-list-item-checkbox {
  margin-right: $spacer-1 * 1.5;
}

h1 {
  margin: 0px;
}
h4 {
  padding-left: 5px;
}
h5 {
  padding-left: 10px;
}
h6 {
  padding-left: 15px;
}

.post-content h2 {
  &:before {
    content: "⠁";
  }
}
.post-content h3 {
  &:before {
    content: "⠃";
  }
}
.post-content h4 {
  &:before {
    content: "⠋";
  }
}
.post-content h5 {
  &:before {
    content: "⠛";
  }
}
.post-content h6 {
  &:before {
    content: "⠟";
  }
}

.post-content .external-link {
  &:after {
    content: url("/resource/icon/external-link.svg");
  }
}

.post-content .tagged-link {
  &:before {
    content: "#";
  }
}

.link-checked {
    color: #FFFFFF;
    background-color: #BA55D3;
    border-radius: 3px;

    &:visited {
        color: #FFFFFF;
    }
}

mark {
    color: #275715;
    background-color: #dbedd4;
    border-radius: 3px;
}

.error-link {
  &:after {
    font-style: italic;
    color: red;
  }
}

.link-404 {
  @extend .error-link;
  &:after {
    content: "[404 Not Found]";
  }
}

.link-400 {
  @extend .error-link;
  &:after {
    content: "[400 Bad Request]";
  }
}

.link-408 {
  @extend .error-link;
  &:after {
    content: "[408 Request Timeout]";
  }
}

.link-500 {
  @extend .error-link;
  &:after {
    content: "[500 Internal Server Error]";
  }
}

.post-item:hover {
  background-color: #fff5ff;
}

video {
  max-width: 100%;
}

// 팝업 주석
sup[role="doc-noteref"] {
  position: absolute;

  a.footnote {
    position: relative;
    padding-bottom: 1em;
    top: -0.9em;
    text-decoration: none;

    &:before {
      content: "[";
    }
    &:after {
      content: "]";
    }
    &:hover {
      color: #df0000;
      & + .tooltiptext {
        color: red;
        // display: block; // create-link.js 에서 처리한다
      }
    }

    & + .tooltiptext {
      display: none;
      max-width: 800px;
      min-width: 300px;
      background-color: #ffffff;
      color: $main-font-color;
      text-align: left;
      border-radius: 7px;
      border: 1px solid #df0000;
      padding: 0px 12px 0px 12px;
      position: absolute;
      bottom: 29px;
      z-index: 1;
    }
  }
}
