.hero {
    height: 100vh;
    background-color: $color-bg-hero;
    text-align: center;
}

.hero-content {
    position: relative;
    padding: 0 80px;
    margin-top: 32vh;

    @media (min-width: $width-page-content) { 
        width: $width-page-content;
        padding: auto;
        margin: 0 auto;
    }
}

.hero-header {
    margin-bottom: 120px;

    @media (min-width: $width-page-content) {
        position: absolute;
        right: 0;
        top: 44vh;
        width: 480px;
    }
}

.hero-title {
    color: $color-text-black;
    font-family: $point-font;
    font-size: 54px;
    margin-bottom: $spacer-3;
}

.hero-desc {
    margin-left: $spacer-1;
    text-align: center;
    color: $color-text-main-dark;
    font-size: $font-size-large;

    @media (min-width: $width-page-content) {
       text-align: left; 
    }
}

.hero-character {
    img {
        max-width:100%;
    }

    @media (min-width: $width-md) {
        padding: 0 $spacer-5;
    }

    @media (min-width: $width-page-content) { 
        position: absolute;
        left: 0;
        top: 40vh;
        margin-right: $spacer * 28
    }
}
