@import "./layout/index.scss";

$theme-color: #47146C;

.wrapper {
    margin: 0 auto;
}
@media (max-width: 1120px) {
    .wrapper {
    }
}

@media (max-width: 1120px) {
    .page-content .wrapper:before {
        display: none;
    }
}

.no-text-deco {
    a {
        text-decoration: none;
    }
}

.section-nav {
  background-color: #FFF;
  margin: 5px 0;
  padding: 10px 30px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.pagination {
    text-align:center;

    a {
        font-size: 1em;
        margin: 2px;
        padding: 2px;
        text-decoration: none;
        border-radius: 10px;
        border: 0px solid $theme-color;
        background-color: $theme-color;
        color: #FFFFFF;
    }

    a.active {
        border: 0px solid transparent;
        background-color: transparent;
        color: #000000;
    }
}

.pagination li {
    display: inline-block;
}