@media (min-width: 1700px) {
  ul#markdown-toc {
    position: fixed;
    top: 80px; // TEMP
    bottom: 0;
    left: calc(50vw + 410px);
    width: 380px;
    z-index: 9999;
    background-color: transparent;
    font-size: 0.8em;
    line-height: $lh-default;
    overflow-y: auto;
    overflow-x: hidden;
    border: 0px solid;
  }
}

#markdown-toc {
  font-size: $font-size-small;
  line-height: $lh-default;
  color: $color-text-gray;
  padding: 10px;
  padding-left: 30px;
  background-color: $color-bg-secondary-lighter;
  border-radius: $border-radius;

  a {
    text-decoration: none;
  }
}

$active-color: $color-text-accent;
.active-toc {
  color: $active-color;
}
.active-toc:visited {
  color: $active-color;
}
