$black: #2b2b2b !default;
$white: #fff !default;

// -------- Primary --------
$primary-300: #ffe6a0 !default;
$primary-400: #ffdc7a !default;
$primary-500: #ffcc40 !default;
$primary-600: #fabe58 !default;
$primary-700: #e6960b !default;

// -------- Secondary --------
$secondary-100: #fcfbfa !default;
$secondary-200: #f5f3f0 !default;
$secondary-300: #dbd5ca !default;
$secondary-400: #ccbfa9 !default;
$secondary-500: #8c7a5b !default;
$secondary-600: #594e3a !default;
$secondary-700: #403116 !default;

// -------- Grays --------
$gray-300: #c4c4c4 !default;
