---
layout: default
---
<div class="post flag-post">
    <header class="post-header">
        <div>
            <h1 class="post-title">{{ page.title }}</h1>
        {% if page.summary %}
            <p class="title-summary">{{ page.summary }}</p>
        {% endif %}
        </div>
        <div class="post-date">
            <p class="created-date">
                {{ page.date | date: "%Y.%m.%d" }}
            </p>
        </div>
    </header>

{% if page.toc %}
    <div class="toc"></div>
{% endif %}
    <article class="post-content markdown-body">
        {{ content }}
    </article>

{% if page.tags.size > 0 %}
    {% include post-tags.html %}
{% endif %}

{% if page.comment != false %}
    {% include comment.html %}
{% endif%}

</div>
{% include createLink.html %}

<script async src="/js/toc-highlight.js"></script>
