body {
    display: flex;
    flex-direction: column;
}

img {
    max-width:100%;
}

.page-content {
    padding: 0 60px;
    flex: auto;

    > div > * {
        margin-bottom: $spacer-4;
    }
}

@media (min-width: 960px) { // TEMP
  .page-content {
    width: 960px;
    margin: 0 auto;
  }
}
