body {
    display: flex;
    flex-direction: column;
}

.page-content {
    padding: 0 60px;
    flex: auto;
}

@media (min-width: 880px) { // TEMP
  .page-content {
    width: 880px;
    margin: 0 auto;
  }
}
