$header-padding: $spacer-3;
$title-icon-size: $size-6;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;

    padding: $header-padding;
    background-color: $color-bg-primary;
    line-height: $lh-condensed-ultra;

    > div:not(:last-child) {
        margin-right: $spacer-3;
    }

    a {
        display: inline-block;
        color: $color-text-main-dark;
        text-decoration: none;

        &:hover {
            color: $color-text-main-light;
        }
    }

    &:after {
        clear: both;
        content: ' ';
        display: block;
    }
}

.site-title {
    font-family: $point-font;
    font-size: 1.8em;
    white-space: nowrap;

    img {
        display: inline-block;
        vertical-align: middle;
        width: $title-icon-size;
    }

    p {
        display: none;
        vertical-align: middle;
        padding-top: $spacer-1 * 1.5;
        margin: 0;
    }

    @media (min-width: $width-lg) {
        img {
            display: none;
        }

        p {
            display: inline-block;
        }
    }
}

.site-menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;

    div {
        display: inline-block;
        margin-left: $spacer-3;
    }

    a {
        font-weight: $font-weight-semibold;
    }

    // warning for "MAX" width
    @media (max-width: $width-lg) {
        position: absolute;
        right: 0;
        // padding + maximum content height
        top: $header-padding * 2 + $title-icon-size;
        width: 100%;
        padding: $spacer $spacer-3;
        background-color: $color-bg-primary-light;

        &:not(.show) {
            display: none;
        }
    }
}

.site-menu-button {
    padding: 0;
    border: none;
    background: none;
    color: $color-text-main-dark;
    font-weight: $font-weight-semibold;

    @media (min-width: $width-lg) {
        display: none;
    }
}