$tag-font-size: $body-font-size;

.tag-list {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -$spacer;
    margin-top: 240px;

    list-style-type: none;

    li {
        display: inline-block;
        margin: $spacer;

        a {
            padding: 0.2em 0.4em;
            border-radius: $border-radius;

            background-color: rgba(255, 220, 122, 0.7);
            color: $color-text-accent-dark;
            font-size: $tag-font-size;
            text-decoration: none;

            &:hover {
                text-decoration-line: none;
                text-decoration-color: transparent;
            }
        }
    }
}
