.wiki-list {
    color: $color-text-gray;

    a {
        color: $color-text-main;
        text-decoration: none;

        &:hover {
            text-decoration-line: underline;
            text-decoration-color: $color-border-primary;
        }
    }
}